.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". Header ."
      ". Login ."; 
  }
  .Header { grid-area: Header; }
  .Login { grid-area: Login; }